
 .container{
    display: grid;
    grid-template-columns:7% 55% 40%;
    grid-template-rows: 99px 540px 13%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-left: 250px;
    margin-right: 250px;
    /* background-color: white; */
    justify-items: stretch;
}
.postCreator {
    display: grid;
    grid-template-columns: 20% 20% 30% 30% ;
    grid-gap: 5px;
}

.postFeed{
    grid-row: 2;
    grid-column: 2;
    background: red;
}

.pic {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    background-color: #001935;
    height: 64px;
    width: 64px;
    border-radius: 3px;
    background-size: cover;
    overflow: visible;  
    border-radius: 5px;
}

widgets {
    grid-column: 3;
    background-color: #263647;
} 

.nav {
    grid-column: 2;
    grid-column-end: 3;
    grid-row: 1;
}

.iconPost{
    background-color: #f4f8fc;
    width: 76px;
    height: 99px;
    border-radius: 5px;
}

.a{
    grid-column: 1;
    height: 48px;
    width: 48px;
    padding-top: 15px;
}

.camara{
    padding-top: 15px;
    grid-column: 2;
    width: 50px;
}



