.box_follows {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 15px;
    margin-left: 500px;
    margin-right: 500px;
}

.section{
    background-color: white;
    border-radius: 5px;
    height: 100px;
    /* width: ; */
}


.following{
    grid-row: 1;
    height: 50px;

}
.followers{
    grid-row: 2;
    height: 50px;
    padding-bottom: 10px;
}
