.containerNav {
    display: grid;
    grid-template: 10% 30%, 70%
}

hr.line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.icons_leftside {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-column-gap: 5px;
    margin-top: 8px;
    height: 30px;
}

.home {
    grid-column: 1;
    height: 30px;

}
.follows{
    height: 30px;
    grid-column: 2;
   
}
.followers{
    height: 50px;
    /* grid-area:  */
}

.account{
    height: 30px;
}
.icons {
    border-radius: 5px;
    background-color: #46b7f8;
    margin-right: 10px;
}

.search_bar:focus{
    background-color: white;
}
.nav_LogIn {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 10px;
    height: 50px;
}
.logo{
    grid-column: 1;
    font-family: 'Vollkorn', serif;    
    max-width: 40px;
    font: bold;
    color: white;
    margin-left: 20px;
    padding-top: 15px;
    font-size: 30px;  
    background-color: rgba(0,0,0,0.1); 
}

.search {
    grid-column: 2;
    height: 30px;
    outline: none;
    width: 500px; 
    background: rgba(0,0,0,.25);
    border-radius: 5px;
    padding-left: 39px;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;
    padding-right: 10px;
    box-shadow: none;
    border: 0; 
}
.buttonSearch{
    height: 17px;
    /* top: 8px; */
    max-width: 540px;
    margin-right: 16px;
    position: absolute;
    padding-left: 90px;
    padding-top: 19px;
}

.logOut {
    height: 30px;
    width: 60px;
    background-color: white;
    border: none;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;

}