.sectionL {
    grid-area: columnLeft;
};

.sectionR {
    grid-area: columnRight;
};

.sectionAvatar {
    grid-area: avatar;
};

.container{
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: 64px 549px 320px;
    grid-template-rows: 625px;
    grid-template-areas: 
      "sectionAvatar columnLeft columnRight"
};

.pic {
    background-color: #001935;
    display: block;
    height: 64px;
    width: 64px;
    border-radius: 3px;
    background-size: cover;
    overflow: visible;
    border-radius: 5px;
};

.content_creator {
    width: 76px;
    height: 99px;
    background-color: white;
    background-size: cover;
    border-radius: 5px;
};

.a{
    height: 30px;
    width: 64px;
};

.post_buttons{
    padding:0 1px 0 7px
}
